<% rendering ||= show_for_rendering %>
<div class="show content">
<% if rendering.has_content? && (content = rendering.content) %>
  <%= content.title %>
  (<%= content.class -%>: <%= content.id -%>)
  <%= edit_rendering_content_link(rendering) %>
<% else %>
  <%=_ 'none' %>
<% end %>
  <%= edit_rendering_link(rendering, :label => 'Select', :parameters => {:anchor => 'content'}) %>
</div>

