<% content ||= show || @content %>
<% links do %>
  <li><%= edit_content_link content %></li>
<% end %>


<% accordion do %>

  <% accordion_item "Hierarchy" do %>
    <%= show content, :parent %>
    <%= show content, :children %>
  <% end %>

  <% accordion_item "General" do %>
    <%= show content, :title %>
  <% end %>

  <% accordion_item "Specific" do %>
    <%= render_attributes_for content %>
  <% end %>

  <% if content.acts_as?(:pictureable) %>
    <% accordion_item "Pictures" do %>
      <%= show content, :images %>
    <% end %>
  <% end %>

<% end %>

