<h1>New <%= @content.class.to_s %></h1>

<%= error_messages_for :content %>

<% form_for(:content, @content, :url => contents_path, :builder => NormalFormBuilder) do |f| %>
  

  <%= f.text_field :title %>

  <%= render_form_fields_for(f) %>

  <%= f.collection_select :type, Content.valid_types, :to_s, :to_s %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', contents_path %>
