<h1>New content</h1>

<%= error_messages_for :content %>

<% form_for(:content, @content, :url => contents_path, :builder => NormalFormBuilder) do |f| %>
  
  <%= f.collection_select :wanted_parent_id, NewsFolder.find(:all), :id, :title, :label => 'Parent'  %>

  <%= f.text_field :title %>

  <%= render_form_fields_for(f) %>

  <%= f.collection_select :type, Content.valid_types, :to_s, :to_s %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', contents_path %>
