<p>
  <b>Title:</b>
  <%=h @content.title %>
</p>

<p>
  <b>Description:</b>
  <%=h @content.description %>
</p>

<p>
  <b>Body:</b>
  <%=h @content.body %>
</p>

<p>
  <b>Type:</b>
  <%=h @content.type %>
</p>

<p>
  <b>State:</b>
  <%=h @content.state %>
</p>

<p>
  <b>Owner:</b>
  <%=h @content.owner_id %>
</p>

<p>
  <b>Published at:</b>
  <%=h @content.published_at %>
</p>

<p>
  <b>Parent:</b>
  <%=h @content.parent_id %>
</p>

<p>
  <b>Images</b>
  <div class="pictures_list">
    <%= render :partial => '/images/for_select', :collection => @content.images %>
  </div>

</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
