<p>
  <b>Name</b><br />
  <%= fields.text_field :name %>
</p>

<p>
  <b>Filename</b><br />
  <%= fields.text_field :filename %>
</p>

<p>
  <b>Options</b><br />
  <%= fields.text_area :options_as_yaml, :rows => 10 %>
</p>

<p>
  <b>rHTML</b> 
  <% if fields.object.in_theme? %>
    <%= "(Theme: '#{@controller.current_theme}')" %>
    <%= fields.check_box :use_theme %>
  <% else %>
    <%= fields.hidden_field :use_theme %>
  <% end %>
  <br />
  <%= fields.text_area :rhtml %>
  <div id='preview'>
    You will see a preview later
  </div>
  </p>

<p>
  <b>Preferred Types</b>
  <ul>
    <% Part.valid_content_types.each do |typ| %>
      <li>
      <%= typ %>: <%= check_box_tag 'part[preferred_types][]', typ.to_s, @part.preferred_types.include?(typ.to_s) %>
      </li>
    <% end %>
  </ul>
</p>

<p>
  <%= fields.submit "Update" %>
</p>

