<% part ||= show || @part %>

<% accordion do %>
  
  <% accordion_item 'Preview' do %>
    <% show part, :preview, :skip_label => true do %>
      <div class="rendering <%= part.filename -%> <%= part.preferred_types.first.andand.domify %>">
        <%= part.render_with_fake_content %>
      </div>
    <% end %>
  <% end %>

  <% accordion_item 'Basic' do %>
    <%= show part, :name %>
    <%= show part, :filename %>
    <%= show part, :description %>
    <%= show part, :preferred_types_names, :label => 'Preferred Types' %>
  <% end %>
  
  <% unless part.defined_options.blank? %>
    <% accordion_item 'Options' do %>
      <% part.options.to_hash_with_defaults.each do |key,value| %>
        <%= di_dt_dd(key,value) %>
      <% end %>
    <% end %>
  <% end %>

  <% accordion_item 'Code', :content_tag => :div do %>
      <code class="liquid"><%=h part.liquid %></code>
  <% end %>

  <% accordion_item 'Example', :content_tag => :div do %>
      <code class="html"><%=h part.render_with_fake_content %></code>
  <% end %>

  <% accordion_item 'Alternatives' do %>
    <ul class="list">
      <% part.alternatives.each do |alt| %>
        <li>
          <% case alt[:place] 
             when 'theme' %>
              In theme "<%= alt[:name] %>"
              <%= show_part_theme_link(part, alt[:name]) %>
          <% when 'plugin' %>
              In plugin "<%= alt[:name] %>"
              <%= show_part_plugin_link(part, alt[:name]) %>
          <% when 'buildin' %>
              Build in
              <%= show_part_link(part) %>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>


<% end %>

