<% part ||= show || @part %>

<% links do %>
  <li><%= edit_part_link(part) %> </li>
<% end %>

<% accordion do %>
  
  <% accordion_item 'Preview' do %>
    <% show part, :preview, :skip_label => true do %>
      <div class="rendering <%= part.filename -%> <%= part.preferred_types.first.domify %>">
        <%= part.render_with_fake_content %>
      </div>
    <% end %>
  <% end %>

  <% accordion_item 'Basic' do %>
    <%= show part, :name %>
    <%= show part, :filename %>
    <%= show part, :preferred_types_names, :label => 'Preferred Types' %>
  <% end %>
  
  <% accordion_item 'Options' do %>
    <% part.options.to_hash_with_defaults.each do |key,value| %>
      <%= di_dt_dd(key,value) %>
    <% end %>
  <% end %>

  <% accordion_item 'Code', :content_tag => :div do %>
      <code class="liquid"><%=h part.liquid %></code>
  <% end %>

  <% accordion_item 'Example', :content_tag => :div do %>
      <code class="html"><%=h part.render_with_fake_content %></code>
  <% end %>

<% end %>

