<h1>Listing parts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Filename</th>
    <th>Options</th>
    <th>Preferred types</th>
  </tr>

<% for part in @parts %>
  <tr>
    <td><%=h part.name %></td>
    <td><%=h part.filename %></td>
    <td><%=h part.options %></td>
    <td><%=h part.preferred_types %></td>
    <td><%= link_to 'Show', part %></td>
    <td><%= link_to 'Edit', edit_part_path(part) %></td>
    <td><%= link_to 'Destroy', part, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New part', new_part_path %>
