<p>
  <b>Name:</b>
  <%=h @part.name %>
</p>

<p>
  <b>Filename:</b>
  <%=h @part.filename %>
</p>

<p>
  <b>Options:</b>
  <%=debug @part.options %>
</p>

<p>
  <b>Preferred types:</b>
  <%=h @part.preferred_types.join(', ') %>
</p>

<p>
  <b>rHTML</b> <%= "(Theme: '#{@controller.current_theme}')" if @part.in_theme? %><br />
  <pre>
    <%=h @part.rhtml %>
  </pre>
</p>


<%= link_to 'Edit', edit_part_path(@part) %> |
<%= link_to 'Back', parts_path %>
