<% grid = form || @grid %>
<% links do %>
  <%= back_link 'cancel' %>
  <li><%= destroy_grid_form(grid, :confirm => _('Really delete?')) %></li>
  <li><%= link_to_remote 'add child', :url => create_child_grid_path(grid), :method => :post %></li>
<% end %>
<%= warning_tag 'Editing this grid may change the appearance of other pages. Decreasing its number of columns will hide the affected renderings - you can get them back.' unless grid.new_record? %>
<%= error_messages_for :grid %>
<% update_grid_form(grid) do |f| %>
  <%= f.select :yui, Grid::Types.invert %>
  <%= f.text_field :title %>
  <%= f.hidden_field :rendering_id %>
  <%= hidden_field :page_id, @page.id if @page %>
   <% unless (grids_renderings = Rendering.for_grid(grid)).empty? %>
   <p>
     <h3>Contained Renderings: </h3>
     <ul>
       <% grids_renderings.group_by {|r| r.page }.each do |page,renderings| %>
         <li><h4>Page: <%= page.title %></h4>
         <ul>
           <% renderings.each do |rendering| %>
             <li>
             <%= rendering.part.andand.name %> 
             <% unless rendering.content.nil? %>
               with <b><%= rendering.content.title %></b>
             <% end %>
             </li>
           <% end %>
         </ul>
         </li>
       <% end %>
     </ul>
   </p>
   <% end %>
  <%= submit_tag _('OK') %>
<% end %>
