<% grid ||= show %>
<% links do %>
  <li><%= edit_grid_link grid %></li>
  <% if grid.root? %>
    <li><%= link_to_remote 'wrap', :url => grids_url(:grid => {:yui => 'yui-u', :child_id => grid}), :method => :post, :confirm => 'This will wrap this grid into another and will assign it as new layout to all relevant pages. Use this if you want to add a new row under THIS grid.' %></li>
  <% end %>
  <li><%= link_to_remote 'add child', :url => create_child_grid_url(grid), :method => :post %> </li>
<% end %>
<% accordion do %>
  <% accordion_item 'Layout' do %>
    <% show grid, :layout do %>
      <%= show_grid grid.root, :active => grid %>
    <% end %>
  <% end %>
  <% accordion_item 'Hierarchy' do %>
    <%= show grid, :parent %>
    <%= show grid, :children %>
  <% end %>
  <% accordion_item 'General' do %>
    <%= show grid, :yui %>
    <%= show grid, :label %>
  <% end %>
<% end %>
