<% grid ||= show %>
<% links do %>
  <% if grid.root? %>
    <li><%= link_to_function 'Wrap', %Q[Grid.create({child_id: #{grid.id}, division: 'wrap'})], :confirm => 'Will wrap this grid into a single one to create siblings.', :class => 'create grid' %></li>
  <% end %>
  <% if grid.leaf? %>
    <li><%= link_to_remote 'explode', :url => explode_grid_url(grid), :method => :delete, :confirm => 'This will destroy this grid and its siblings, placing all renderings of all relevant pages in their parent. Use this to remove columns this grid is one of.' %>
    </li>
  <% end %>
  <li><%= link_to_remote 'add child', :url => create_child_grid_url(grid), :method => :post %> </li>
<% end %>
<% accordion do %>
  <% accordion_item 'Hierarchy' do %>
    <%= show grid, :title %>
    <%= show grid, :parent %>
    <%= show grid, :inherit_renderings %>
    <%= render_tree grid %>
  <% end %>
  <% accordion_item 'General' do %>
    <%= show grid, :width %>
    <%= show grid, :css_classes, :label => 'extra CSS classes' %>
    <%= show grid, :float %>
  <% end %>
<% end %>
