<p>
  <% if logged_in? %>
    Welcome <%= current_user.full_name %>
  <% else %>
    Welcome Guest!
  <% end %>
</p>


<% accordion do %>

  <% accordion_item "Contents" do %>
    <ul class="list">
      <% Tirade::ActiveRecord::Content.classes.each do |klass| %>
        <li>
          <%= link_to klass.name.pluralize, {:controller => klass.table_name}, :class => "index #{klass.table_name}" %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% accordion_item "CMS" do %>
    <ul class="list">
      <% %w(pages grids parts renderings).each do |cname| %>
        <li>
          <%= link_to cname.humanize, {:controller => cname}, :class => "index #{cname}" %>
        </li>
      <% end %>
    </ul>
  <% end %>
  
  <% accordion_item "Admin" do %>
    <ul class="list">
      <% %w(users roles groups permissions).each do |cname| %>
        <li>
          <%= link_to cname.humanize, {:controller => cname}, :class => "index #{cname}" %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% accordion_item "View Paths" do %>
    <p>
    <%= self.finder.pick_template 'parts/stock/_artist_teaser', 'html.liquid' %>
    </p>
    <hr />
    <ul class="list">
      <% self.finder.view_paths.each do |path| %>
        <li><%= path %> </li>
      <% end %>
    </ul>
  <% end %>
<% end %>
