<p>
  <% if logged_in? %>
    <%= t '.welcome',:name => current_user.full_name %>
  <% else %>
    <%= t '.welcome_guest' %>
  <% end %>
</p>


<% accordion do %>

  <% accordion_item "Contents" do %>
    <ul class="list">
      <% Tirade::ActiveRecord::Content.classes.each do |klass| %>
        <li>
          <%= icon_for(klass.name) %>
          <%= klass.name.pluralize %>
          <%= link_to klass.name.pluralize, {:controller => klass.controller_name}, :class => "index #{klass.table_name}" %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% accordion_item "CMS" do %>
    <ul class="list">
      <% %w(pages grids parts renderings).each do |cname| %>
        <li>
          <%= icon_for(cname.singularize) %>
          <%= cname.humanize %>
          <%= link_to cname.humanize, {:controller => cname}, :class => "index #{cname}" %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% accordion_item t('shared.language') do %>
    <ul class="list">
      <% (I18n.available_locales - [:root]).each do |locale| %>
        <li>
          <%= t('shared.locale.name', :locale => locale) %>
          <%= link_to_open t('shared.locale.name', :locale => locale), dashboard_path(:locale => locale), :class => 'index dashboard' %>
        </li>
      <% end %>
    </ul>
  <% end %>
  
  <% accordion_item "Admin" do %>
    <ul class="list">
      <% %w(users user_groups permissions).each do |cname| %>
        <li>
          <%= icon_for(cname.singularize) %>
          <%= cname.humanize %>
          <%= link_to cname.humanize, {:controller => cname}, :class => "index #{cname}" %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% accordion_item "Info" do %>
    <%= di_dt_dd 'SVN Revision', svn_revision %>
  <% end %>
<% end %>
