<p class="loginout">
<% if logged_in? %>
  Logged in as <%= current_user.login %>
  <%= link_to "Log out", logout_path, :class => 'logout' %>
<% else %>
  <%= link_to 'Signup', signup_path, :class => 'signup new user' %> | 
  <%= link_to 'Login', login_path, :class => 'login' %>
<% end %>
  | <%= link_to 'Toolbox', '#', :class => 'dashboard' %>
</p>

