<%= error_messages_for :rendering %>


  	<form>
  		<label>Search Content</label>
    	<%= text_field_tag 'search' %>
		</form>
		
    <ul id="search_results">
    </ul>

<% update_rendering_form(@rendering) do |f| %>
  <p>
  	 <label for="content_type">Content (Type, id)</label>
  	 <a name="content" />
    <%= f.collection_select :content_type, Rendering.valid_content_types, :name_for_js, :label  %>
    <%= f.text_field :content_id %>
  </p>
  <p>
    <label>Part</label>
    <a name="part" />
      <%= f.collection_select :part_id, Part.for_content(@rendering.content), :id, :name %>
  </p>

  <%= show_rendering_link(@rendering, :label => 'cancel') %> or
  <%= submit_tag @rendering.new_record? ? "Create" : "Update", :class => 'submit' %>
<% end %>
