<%= error_messages_for :rendering %>

<% form_for(@rendering) do |f| %>
  <p>
    <b>Content</b><br />
    <%= f.text_field :content_id %>
  </p>

  <p>
    <b>Part</b><br />
    <%= f.collection_select :part_id, Part.for_content(@rendering.content), :id, :name %>
  </p>

  <p>
    <%= f.submit @rendering.new_record? ? "Create" : "Update" %>
  </p>
<% end %>

<% unless @rendering.new_record? %>
  <%= link_to "cancel", rendering_path(@rendering) %>
<% end %>
