<% rendering ||= form %>
<% links do %>
  <%= back_link 'cancel' %>
<% end %>
<%= error_messages_for :rendering, :object => rendering %>

<% form_for(rendering) do |f| %>
  <% accordion do %>

    <% accordion_item "What" do %>
      <%= f.select :assignment, Rendering::Assignments %>
      <%= f.has_one :content, :types => rendering.part.andand.preferred_types %>

      <% unless rendering.new_record? %>
        <% content_types = rendering.part.andand.preferred_types_classes || Rendering.valid_content_types %>
        <%= f.collection_select :content_type, content_types, :to_s, :to_s %>
        <% f.fields_for :scope do |scope_form| %>
          <% content_types.each do |content_type| %>
            <div class="scopes <%= content_type -%>">
              <%= scope_form.select_order_scope content_type %>
              <%= scope_form.select_scope_from_pool content_type %>
              <%= scope_form.scope_pool content_type %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% accordion_item "How" do %>
      <%= f.text_field :css_classes_list, :label => 'CSS classes' %>
      <%= f.has_one :part %>
    <% end %>

    <% if f.object.part %>
      <% accordion_item "Options" do %>
        <%= f.select_options %>
      <% end %>
    <% end %>

    <%= f.submit %>

  <% end %>
<% end %>
