<% rendering ||= form %>
<% links do %>
  <%= back_link 'cancel' %>
<% end %>
<%= error_messages_for :rendering, :object => rendering %>


  	<form>
  		<label>Search Content</label>
    	<%= text_field_tag 'search' %>
		</form>
		
    <ul id="search_results">
    </ul>

  <% form_for(@rendering) do |f| %>
  <p>
    <%= f.collection_select :content_type, Rendering.valid_content_types, :to_s, :label, :include_blank => true  %>
    <%= f.text_field :content_id %>
  </p>
  <p>
      <% if f.object.has_content? %>
        <%= f.collection_select :part_id, Part.for_content(f.object.content), :id, :fullname, :include_blank => true %>
      <% else %>
      <%= f.collection_select :part_id, Part.find(:all, :order => 'name'), :id, :fullname, :include_blank => true %>
      <% end %>
  </p>

  <% if f.object.part %>
  <p>
    <%= f.select_options %>
  </p>
  <% end %>

<% end %>
