- rendering.page = page if page
- options = {}
- add_class_to_html_options options, 'rendering'
- add_class_to_html_options options, dom_id(rendering)
- add_class_to_html_options options, rendering.part.andand.filename
- options[:id] = dom_id(rendering)
- options[:rel] = dom_id(rendering)
- options[:title] = rendering.title
- if rendering.part.nil?
  - add_class_to_html_options options, 'without_part'
  - content_for :rendering do
    = render(:partial => 'renderings/without_part', :object => rendering)

- case rendering.assignment
- when 'none'
  - content_for :rendering do
    = rendering.part.render(rendering.final_options, rendering.context_in_registers)
- else
  - if rendering.has_content?
    - add_class_to_html_options options, rendering.content.class.to_s.underscore
    - unless rendering.part.nil?
      - content_for :rendering do
        = rendering.part.render_with_content(rendering.content,rendering.final_options,rendering.context_in_registers)
  - else
    - add_class_to_html_options options, 'without_content'
    - content_for :rendering do
      = render(:partial => 'renderings/without_content', :object => rendering)

%div{options}
  = yield :rendering
