<% rendering = show %>

<% links do %>
  <%= li_link_to_remote 'clone', :url => duplicate_rendering_path(rendering), :method => :put, :html => {:class => 'create rendering'} %>
  <%= li_link_to_remote 'delete', :url => rendering_path(rendering), :method => :delete, :html => {:class => 'destroy rendering'}, :confirm => 'Really destroy?' %>
  <li><%= edit_rendering_link(rendering) %></li>
<% end %>

<% accordion do %>
  <% accordion_item "Page" do %>
    <% thepage = rendering.page %>
    <%= link_to thepage.title, thepage %> (URL: <%= public_content_link(thepage, :label => thepage.url) %>)
  <% end %>
  <% accordion_item "Content" do %>
    <%= render :partial => '/rendering/content/show_for_rendering', :object => rendering %>
  <% end %>
  <% accordion_item "Grid" do %>
    <%= render :partial => '/rendering/grid/show_for_rendering', :object => rendering %>
  <% end %>
  <% accordion_item "Part" do %>
    <%= render :partial => '/rendering/part/show_for_rendering', :object => rendering %>
  <% end %>
<% end %>


