<% rendering = show %>

<% links do %>
  <%= li_link_to_remote 'clone', :url => duplicate_rendering_path(rendering), :method => :put, :html => {:class => 'create rendering'} %>
  <%= li_link_to_remote 'delete', :url => rendering_path(rendering), :method => :delete, :html => {:class => 'destroy rendering'}, :confirm => 'Really destroy?' %>
  <li><%= edit_rendering_link(rendering) %></li>
<% end %>



<% accordion do %>

  <% accordion_item "What" do %>
    <%= show rendering, :content, :selectable => true %>
  <% end %>

  <% accordion_item "How" do %>
    <%= show rendering, :part, :selectable => true %>
  <% end %>

  <% accordion_item "Where" do %>
    <%= show rendering, :page, :label => 'Page' %>
    <%= show rendering, :grid, :label => 'Grid' %>
  <% end %>
<% end %>


