<% rendering ||= show %>

<% links do %>
  <%= li_link_to_remote 'clone', :url => duplicate_rendering_path(rendering), :method => :put, :html => {:class => 'create rendering'} %>
  <%= li_link_to_remote 'delete', :url => rendering_path(rendering), :method => :delete, :html => {:class => 'destroy rendering'}, :confirm => 'Really destroy?' %>
  <li><%= edit_rendering_link(rendering) %></li>
<% end %>



<% accordion do %>

  <% accordion_item "What" do %>
    <%=
      case rendering.assignment 
      when 'by_title_from_trailing_url'
        show rendering, :content do
          "by title from trailing URL"
        end
      else
        show rendering, :content
      end 
    %>
  <% end %>

  <% accordion_item "How" do %>
    <%= show rendering, :part, :selectable => true %>
    <%= show rendering, :options %>
  <% end %>

  <% accordion_item "Where" do %>
    <%= show rendering, :page, :label => 'Page' %>
    <% @grid = rendering.grid %>
    <%= show rendering.page, :final_layout, :label => 'Grid' %>
  <% end %>
<% end %>


