- rendering ||= without_content
%div.warning.without_content
  %p 
    This Rendering has no Content.
    Focus this Rendering and drop
  - unless rendering.has_content_type?
    a single one here or select a type.
    - unless rendering.part.nil?
      %h3== Avaiable Content Types for #{rendering.part.title}
      = render :partial => 'renderings/avaiable_types', :object => rendering.part.preferred_types_classes
    - else
      %h3== Avaiable Content Types
      = render :partial => 'renderings/avaiable_types', :object => Tirade::ActiveRecord::Content.classes
  - else
    == a #{index_link_to(rendering.content_type.constantize, :class => 'with_toolbox', :label => rendering.content_type)} 
    - if page ||= @page || @context_page 
      - if suggestions = rendering.content_type.constantize.title_like(page.title)
        %h3 Suggestions
        = render_list_of suggestions
    or specify a scope in the toolbox.
