<% thepage ||= show || @page %>

<% links do %>
  <li><%= edit_page_link(thepage) %> </li>
<% end %>

<% accordion do %>

  <% accordion_item 'General', :content_tag => :dl do %>
    <%= show thepage, :title %>
    <%= show thepage, :url, :label => 'URL' %>
    <% show thepage, :children, :label => 'Subpages' do %>
      <%= list_of thepage.children, :class => 'good_list' %>
    <% end %>
  <% end %>

  <% accordion_item "Layout", :content_tag => :dl do %>
    <% show thepage, :yui, :label => 'Width' do %>
      <%=h thepage.yui_name %>
    <% end %>
    <%= show thepage, :final_layout, :label => 'Layout' %>
  <% end %>

  <% accordion_item "Renderings", :content_tag => :dl do %>
    <%= show thepage, :renderings %>
  <% end %>

<% end %>
