<% thepage ||= show || @page %>

<% links do %>
  <li><%= edit_page_link(thepage) %> </li>
<% end %>

<dl class="index page">
  <% show thepage, :title %>
  <% show thepage, :url, :label => 'URL' %>
  <% show thepage, :children, :label => 'Subpages' do %>
    <ul>
      <%= render :partial => '/pages/list_item', :collection => thepage.children %>
    </ul>
  <% end %>
</dl>

<% accordion do %>

  <% accordion_item "Layout", :content_tag => :dl do %>
    <% show thepage, :layout do %>
      <% unless thepage.final_layout.nil? %>
        <%=h thepage.final_layout.andand.label %>
      <% else %>
        none!
        <%= edit_page_link thepage, :label => "select one", :parameters => {:anchor => 'layout'} %>
      <% end %>
    <% end %>
    <% show thepage, :yui, :label => 'Width' do %>
      <%=h thepage.yui_name %>
    <% end %>
  <% end %>

  <% accordion_item "Renderings", :content_tag => :dl do %>
    <% show thepage, :renderings do %>
      <ul>
        <% thepage.renderings.each do |rendering| %>
          <li> <%= link_to rendering.label, rendering_path(rendering) %> </li>
        <% end %>
      </ul>
    <% end %>
  <% end %>

<% end %>
