<% thepage ||= show || @page %>

<% links do %>
  <li> <%= toolbox_back_button %> </li>
  <li><%= index_pages_link(:label => 'Back to List') %></li>
  <li><%= edit_page_link(thepage) %> </li>
<% end %>

<dl class="index page">
  <dt>Title (URL)</dt>
  <dd> 
    <%=h thepage.title %> 
    (<%=h thepage.url %>)
  </dd>
  <% unless thepage.children.empty? %>
  <dt>Subpages</dt>
  <dd>
    <ul>
      <%= render :partial => '/pages/list_item', :collection => thepage.children %>
    </ul>
  </dd>
  <% end %>
</dl>

<% accordion do %>

  <% accordion_item "Layout", :content_tag => :dl do %>
    <dt>Layout</dt>
    <dd> 
      <% unless thepage.final_layout.nil? %>
        <%=h thepage.final_layout.andand.label %>
      <% else %>
        none!
        <%= edit_page_link thepage, :label => "select one", :parameters => {:anchor => 'layout'} %>
      <% end %>
    </dd>
    <dt>Width</dt>
    <dd> <%=h thepage.yui_name %> </dd>
  <% end %>

  <% accordion_item "Renderings", :content_tag => :dl do %>
    <% unless thepage.renderings.empty? %>
      <ul>
        <% thepage.renderings.each do |rendering| %>
          <li> <%= link_to rendering.label, rendering_path(rendering) %> </li>
        <% end %>
      </ul>
    <% else %>
      <p>empty</p>
    <% end %>
  <% end %>

<% end %>
