<% thepage = show || @page %>
<dl class="page">
  <dt>Title</dt>
  <dd> <%=h thepage.title %> </dd>
  <dt>URL</dt>
  <dd> <%=h thepage.url %> </dd>
  <% unless thepage.root? %>
  <dt>Parent</dt>
  <dd> <%= public_content_link(thepage.parent) %> </dd>
  <% end %>
  <% unless thepage.children.empty? %>
  <dt>Subpages</dt>
  <dd>
    <ul>
      <% thepage.children.each do |subpage| %>
        <li> <%= public_content_link(subpage) %> </li>
      <% end %>
    </ul>
  </dd>
  <% end %>
  <dt>Layout</dt>
  <dd> 
    <% unless thepage.final_layout.nil? %>
      <%=h thepage.final_layout.andand.label %>
    <% else %>
      none! <%= link_to_remote('create layout', :url => page_layout_path(thepage), :method => :post) %>
    <% end %>
  </dd>
  <dt>Width</dt>
  <dd> <%=h thepage.yui_name %> </dd>
  <dt>Actions</dt>
  <dd>
    <%= link_to 'Edit', edit_page_path(thepage) %> |
    <%= link_to 'Back', pages_path %>
  </dd>

  <% unless thepage.renderings.empty? %>
  <dt>Renderings</dt>
  <dd>
    <ul>
      <% thepage.renderings.each do |rendering| %>
        <li> <%= link_to rendering.label, rendering_path(rendering) %> </li>
      <% end %>
    </ul>
  </dd>
  <% end %>

</dl>
