<h3>Edit page</h3>

<%= error_messages_for :page %>

<% form_for(@page) do |f| %>
  <p>
    <label>Title</label>
    <%= f.text_field :title %>
  </p>

  <p>
    <label>Url</label>
    <%= f.text_field :url %>
  </p>

  <p>
    <label>Parent</label>
    <%= f.text_field :parent_id %>
  </p>

  <p>
    <label>Layout</label>
    <%= f.text_field :layout_id %>
  </p>

  <p>
    <%= f.submit "Update", :class=> 'submit' %> or  <%= link_to 'Show', @page %> | <%= link_to 'Back', pages_path %>
  </p>
<% end %>

