<h1>Listing pages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Url</th>
    <th>Parent</th>
    <th>Lft</th>
    <th>Rgt</th>
    <th>Layout</th>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%=h page.title %></td>
    <td><%=h page.url %></td>
    <td><%=h page.parent_id %></td>
    <td><%=h page.lft %></td>
    <td><%=h page.rgt %></td>
    <td><%=h page.layout_id %></td>
    <td><%= link_to 'Show', page %></td>
    <td><%= link_to 'Edit', edit_page_path(page) %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>
