<p>
  <b>Title:</b>
  <%=h @page.title %>
</p>

<p>
  <b>Url:</b>
  <%=h @page.url %>
</p>

<p>
  <b>Parent:</b>
  <%=h @page.parent.andand.title %>
</p>


<p>
  <b>Layout:</b>
  <%=h @page.final_layout.andand.label || 'none!' %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
