<%= warning_tag 'Editing this part may change the appearance of other pages' %>
<%= error_messages_for :part %>
<% form_for :part, @part, :url => part_path(@part), :html => {:method => :post, :class => 'update part' }, :builder => NormalFormBuilder do |f| %>
	 <%= f.text_field :name %> 
    <% theme = @controller.current_theme %>
    <% if @part.in_theme? %>
      <%= f.check_box :use_theme, :label => "Use Theme Version ('#{theme}')" %> 
    <% else %>
      <p>Link to create themed version (in '<%= theme %>')</p>
    <% end %>
    <%= f.text_area :rhtml, :rows => 10 %>
    <%= f.text_area :options_as_yaml, :rows => 5 %>
    <%= f.text_field :filename %>

    <%= hidden_field_tag :rendering_id, @rendering.id %>
	<p>
  	<%= f.submit "Update", :class => 'submit' %> or <%= show_rendering_link(@rendering, :label => 'cancel') %>
	</p>
	
<% end %>
