<%= warning_tag 'Editing this part may change the appearance of other pages' %>
<%= error_messages_for :part %>
<% form_for :part, @part, :url => part_path(@part), :html => {:method => :put, :class => 'update part' }, :builder => NormalFormBuilder do |f| %>
    <%= f.text_field :name %> 

    <p>
    <% theme = @controller.current_theme %>
    <% if @part.in_theme? %>
      <% if @part.use_theme? %>
        <%= link_to_remote 'use original', :url => rendering_part_theme_path(@rendering, :use_theme => false), :method => :put %>
      <% else %>
        <%= link_to_remote "use theme (#{theme})", :url => rendering_part_theme_path(@rendering, :use_theme => true), :method => :put %>
      <% end %> |
      <%= link_to_remote "remove theme '#{theme}'", :url => rendering_part_theme_path(@rendering), :method => :delete, :confirm => 'Really delete the themed version?' %>
    <% else %>
      <%= link_to_remote "make themable in '#{theme}'", :url => rendering_part_theme_path(@rendering), :method => :post %>
    <% end %>
    <%= f.hidden_field :use_theme %>
    </p>

    <%= f.text_area :rhtml, :rows => 10 %>
    <%= f.define_options %>
    <%= f.text_field :filename %>

    <%= hidden_field_tag :rendering_id, @rendering.id %>
	<p>
  	<%= f.submit "Update", :class => 'submit' %> or <%= show_rendering_link(@rendering, :label => 'cancel') %>
	</p>
	
<% end %>
