<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Tirade without title (admin layout)</title>
  <%= render :partial => '/layouts/head' %>
  <%= stylesheet_link_tag 'admin' %>
  <%= yield :head %>
</head>
<body id="<%= controller_name -%>">
  <div id="head">
    <%= render :partial => '/shared/loginout' %>
  </div>

  <div id="sidebar">
    <h1>tirade</h1>
    <ul>
      <li><a href="#">Dashbord</a></li>
      <li><a class="active" href="#">Site Manager</a></li>
      <li><a href="#">Permissions</a></li>
      <li><a class="action" href="#">Add Page</a></li>
    </ul>
    <form action="index_submit" method="get" accept-charset="utf-8" class="search">
      <input type="text" name="search" value="" id="search">
      <input type="submit" value="Search">
    </form>
    <%= render :partial => '/layouts/admin_navigation' %>
  </div>
    

  <div id="content">
    <h2><%= yield :section %></h2>
    <%= flash_messages %>

    <%= yield %>
  </div>

  <div id="footer">
    <h5>Foot. End. Tirade is over.</h5>
  </div>  
</body>
