<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Tirade without title (admin layout)</title>
  <%= render :partial => '/layouts/head' %>
  <%= stylesheet_link_tag('admin') if current_user.andand.is_admin? %>
  <%= yield :head %>
</head>
<body id="<%= controller_name -%>" class="<%= user_roles_classes -%>">
  <div class="center header">
    <div id="utilities">
      <%= render :partial => '/shared/loginout' %>
    </div>
    
    <h1>tirade</h1>
    <ul>
      <li><a href="#">Dashbord</a></li>
      <li><a class="active" href="#">Site Manager</a></li>
      <li><a href="#">Permissions</a></li>
      <li><a class="action" href="#">Add Page</a></li>
    </ul>
    <form action="index_submit" method="get" accept-charset="utf-8">
      <input type="text" name="search" value="" id="search">
      <input type="submit" value="Search">
    </form>
  </div>

  <%= flash_messages %>
  <div class="center content">
    <h2>Site Manager</h2>

    <%= render :partial => '/layouts/admin_navigation' %>

    <div class="main_content">
      <ul class="nav">
        <li><a class="active" href="#">pages</a></li>
        <li><a href="#">Publish</a></li>
      </ul>

      <%= yield %>
    </div>
  </div>

  <div id="footer">
    <h5>Site List</h5>
  </div>  
</body>
