<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Tirade without title (application layout)</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css">
	 <%= stylesheet_link_tag('admin') if current_user.andand.is_admin? %>
   <%= javascript_include_tag *%w(prototype effects dragdrop controls) %>
   <%= javascript_include_tag *%w(application) %>
   <%= javascript_include_tag *%w(lowpro) %>
   <%= javascript_include_tag *%w(named_routes grids) %>
   <%= javascript_include_tag *%w(behaviours) %>
   <%= javascript_include_tag *%w(builder) %>
   <%= yield :head %>
</head>
<body id="<%= controller_name -%>" class="<%= user_roles_classes -%>">
  <div class="center header">
    <div id="utilities">
      <%= render :partial => '/shared/loginout' %>
    </div>
    
    <h1>tirade</h1>
    <ul>
      <li><a href="#">Dashbord</a></li>
      <li><a class="active" href="#">Site Manager</a></li>
      <li><a href="#">Permissions</a></li>
      <li><a class="action" href="#">Add Page</a></li>
    </ul>
    <form action="index_submit" method="get" accept-charset="utf-8">
      <input type="text" name="search" value="" id="search">
      <input type="submit" value="Search">
    </form>
  </div>

  <%= flash_messages %>
  <div class="center content">
    <%= yield %>
  </div>

  <div idtirade="footer">
    <h5>Site List</h5>
  </div>  
</body>
