<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Tirade application layout</title>
   <%= yield :head %>
</head>
<body id="<%= controller_name -%>" class="<%= user_roles_classes -%>">
  <%= flash_messages %>
  <div id="doc">
	<%= yield %>
  <div id="footer">
    <%= render :partial => '/shared/loginout' %>
  </div>
	</div>
</body>
