<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>Tirade without title (public layout)</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.5.1/build/reset-fonts-grids/reset-fonts-grids.css">
   <%= stylesheet_link_tag('admin') if current_user.andand.is_admin? %>
   <%= javascript_include_tag *%w(prototype effects dragdrop controls) %>
   <%= javascript_include_tag *%w(application) %>
   <%= javascript_include_tag *%w(lowpro) %>
   <%= javascript_include_tag *%w(named_routes grids) %>
   <%= javascript_include_tag *%w(behaviours) %>
   <%= yield :head %>
</head>
<body class="<%= user_roles_classes -%>">
  <%= yield %>
</body>
