<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title><%= title %></title>
    <%= render :partial => '/layouts/head' %>
    <%= theme_stylesheet_link_tag current_theme %>
    <%= yield :head %>
</head>
<body>
  <%= yield %>
</body>
